* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fefefe;
}

h1 {
  color: darkgreen;
}

h2 {
  color: #1460AA;
  background-color: white;
}

section {
  background-color: #cdc1f8;
}

.about {
  color: #a20041;
}

.about__heading {
  color: #1460aa;
}

.about__link {
  color: #92140c;
}

.about__picture {
  display: block;
  max-width: 100%;
}
.about__heading {
  color: #044550;
}

.about__description {}

.navigation {
  padding: 16px;
  background-color: blue;
}

.navigation__link {
  color: white;
}

.section {
  background: #dcdcdc;
  margin-bottom: 16px;
}

.section__header {
  color: #044550;
}

.section__header--special {
  color: tomato;
  margin-left: 64px;
}

.notes {
}

.notes__heading {
  color: #1460aa;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__link {
  color: #1460aa;
}

.list {
  list-style: square;
}